 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


@media only screen and (max-width: 1920px) {
    body {
    
        transform: scale(0.72);
        transform-origin: 0 0;
       
        line-height: 1;
    }
  }
@media only screen and (max-width: 900px) {
    body {
        
        transform: scale(0.65);
        transform-origin: 0 0;
       
        line-height: 1;
    }
  }
  @media only screen and (max-width: 300px) {
    body {
    
        transform: scale(0.1);
        transform-origin: 0 0;
       
        line-height: 1;
    }
  }


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#overlay{
position:absolute;
pointer-events: none;
   width:855px;
   height:1340px;
   z-index: 20;
   background-image: url("../img/overlay.png");
}
#container{
    position: absolute;
    margin:auto;
    width: 755px;
    height :987px;
    margin-left: 50px;
   padding-top: 270px;
    

}
#backgrounds{
    position:absolute;
   width:555px;
   height:987px;
   
   z-index: 1;
   
}
.background1{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-image: url("../img/background1.png");
}
.background2{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-image: url("../img/background2.png");
}
.background3{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-image: url("../img/background3.png");
}
.background4{
    position:absolute;
    width:555px;
    height:987px;
    left:100px;
    right: 100px;
    background-image: url("../img/background4.png");
}
#shirt{
    position:absolute;
   width:555px;
   height:987px;
   z-index: 3;
   
   
   
   
}
.shirt1{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/shirt1.png");
    z-index: 3;

}
.shirt2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/shirt2.png");
    z-index: 3;
}
.shirt3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/shirt3.png");
    z-index: 3;
}
#pants{
    position:absolute;
   width:555px;
   height:987px;
   z-index: 2;
   
   
   
   
   
}
.pants1{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/pants1.png");

}
.pants2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/pants2.png");

}
.pants3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/pants3.png");

}

#ushirt{
    position:absolute;
   width:555px;
   height:987px;  
   z-index: 2;
   
}
.ushirt1{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/ushirt1.png");
}
.ushirt2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/ushirt2.png");
    
}
.ushirt3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/ushirt3.png");

}
#jacket{
    position:absolute;
   width:555px;
   height:987px;
   z-index: 6;
   
   
   
   
}
.jacket1{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/jacket1.png");
    z-index: 6;
}
.jacket2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/jacket2.png");
    z-index: 6;
}
.jacket3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url("../img/jacket3.png");
    z-index: 6;
}
#man{
    position:absolute;
    width:555px;
    height:987px;
    z-index: 1;
    
    
    background-image: url("../img/body.png");
    
    
    
 
}

#shoes{
     position:absolute;
    width:555px;
    height:987px;
    z-index: 2;
    
    
    
    
}

.shoe1{
     position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe1.png);
    z-index: 2;
    
    
    
}

.shoe2{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe2.png);
    z-index: 2;
}

.shoe3{
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/shoe3.png);
    z-index: 2;
}

#clothes{
    
     position:absolute;
    width:555px;
    height:987px;
    
    
    
    
}

.dress1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress1.png);
    z-index: 5;
}

.dress2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress2.png);
    z-index: 5;
}

.dress3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress3.png);
    z-index: 5;
}
.dress4{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/dress4.png);
    z-index: 5;
}

#hairfront{
     position:absolute;
    width:555px;
    height:987px;
    z-index: 7;
    
    
    
    
}

.hairfront1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront1.png);

}

.hairfront2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront2.png);
}

.hairfront3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront3.png);
}

#nexthair{
    position:absolute;
    top:50px;
    z-index: 100;
    pointer-events: auto; 
}

#nextdress{
    position:absolute;
    top:150px;
    pointer-events: auto; 
    z-index: 100;
}

#nextshoe{
    position:absolute;
    top:250px;
    pointer-events: auto; 
    z-index: 100;
}
#nextbackground{
    position:absolute;
    top:350px;;
    z-index: 100;
    pointer-events: auto; 
}
#nextshirt{
    position:absolute;
    top:450px;;
    z-index: 100;
    pointer-events: auto; 
}
#nextpants{
    position:absolute;
    top:550px;;
    z-index: 100;
    pointer-events: auto; 
}
#nextaccessory{
    position:absolute;
    top:650px;;
    z-index: 100;
    pointer-events: auto; 
}
#nextushirt{
    position:absolute;
    top:750px;;
    z-index: 100;
    pointer-events: auto; 
}
#nextjacket{
    position:absolute;
    top:850px;;
    z-index: 100;
    pointer-events: auto; 
    
}
.btn84{
    right:0px;
    font-size: 50px;
    color:black;
    background-color: rgb(175, 175, 175);
    border: 2px solid black;;
    padding-top:10px;
    touch-action: manipulation;
}
